* {
	padding: 0;
	margin: 0;
	border: 0;
	list-style: none;
}
ul {
	position: relative;
	transform-style: preserve-3d;
	width: 200px;
	height: 200px;
	margin: 100px auto;
}
ul:hover {
	animation: show 3s linear infinite;
}
@keyframes show {
	0% {
		transform: rotateX(0) rotateY(0);
	}
	100% {
		transform: rotateX(360deg) rotateY(360deg);
		
	}
}
ul li {
	position: absolute;
	left: 0;
	top: 0;
	width: 200px;
	height: 200px;
	background: url(../images/pic01.png);
}
ul li:nth-of-type(1) {
	background: url(../images/pic01.png);
	-ms-transform: rotateY(90deg) translateZ(100px);
	-moz-transform: rotateY(90deg) translateZ(100px);
	-webkit-transform: rotateY(90deg) translateZ(100px);
	-o-transform: rotateY(90deg) translateZ(100px);
	transform: rotateY(90deg) translateZ(100px);
}
ul li:nth-of-type(2) {
	background: url(../images/pic02.png);
	-ms-transform: rotateY(-90deg) translateZ(100px);
	-moz-transform: rotateY(-90deg) translateZ(100px);
	-webkit-transform: rotateY(-90deg) translateZ(100px);
	-o-transform: rotateY(-90deg) translateZ(100px);
	transform: rotateY(-90deg) translateZ(100px);
}
ul li:nth-of-type(3) {
	background: url(../images/pic03.png);
	-ms-transform: rotateX(90deg) translateZ(100px);
	-moz-transform: rotateX(90deg) translateZ(100px);
	-webkit-transform: rotateX(90deg) translateZ(100px);
	-o-transform: rotateX(90deg) translateZ(100px);
	transform: rotateX(90deg) translateZ(100px);
}
ul li:nth-of-type(4) {
	background: url(../images/pic04.png);
	-ms-transform: rotateX(-90deg) translateZ(100px);
	-moz-transform: rotateX(-90deg) translateZ(100px);
	-webkit-transform: rotateX(-90deg) translateZ(100px);
	-o-transform: rotateX(-90deg) translateZ(100px);
	transform: rotateX(-90deg) translateZ(100px);
}
ul li:nth-of-type(5) {
	background: url(../images/pic05.png);
	-ms-transform: translateZ(100px);
	-moz-transform: translateZ(100px);
	-webkit-transform: translateZ(100px);
	-o-transform: translateZ(100px);
	transform: translateZ(100px);
}
ul li:nth-of-type(6) {
	background: url(../images/pic06.png);
	
	transform:rotateX(180deg) translateZ(100px);
}
h1 {
	text-align: center;
}